.information {
  .info-title {
    padding-top: 0.5em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-left: 1em;
    strong {
      white-space: normal;
    }
  }
  .info-value {
    padding-top: 0.5em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-left: 1em;
    text-align: right;
    span {
      white-space: normal;
    }
  }
}
