$white: #fff;
$black: #000;
$backgroundLight: #f2f2f2;
$background: #e4e4e4;
$primary: #f79300;
$primaryDark: #b16207;
$primaryLight: #cc8316;
$secondary: #525f7f;
$disabled: #ccc;
$valid: #4CAF50;
$invalid: #EF5350;